header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


body{
    background-color: #0a0a0a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#rushyyz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}