
*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
}
body {
    height: 100vh;
    background: linear-gradient(to bottom, #000000 0%, #808080 100%);
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.comingsoon {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#rushyyz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}